
.hidden-details {
    display: none;
}

body, html {
    height: 100%; 
    margin: 0;
    padding: 0;
}

.container {
    display: flex; 
    height: 100vh; 
    width: 100%;
}

.half {
    flex: 1; 
    padding: 20px;
    box-sizing: border-box; 
    overflow: auto; 
}


html {
  height: 100%;
}

body {
  background-image: url("Images/Background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #333333; 
  margin: 0; 
  padding: 0;
  height: 100%;
}

body {
    color: beige;
}

 a {
    color: aqua
}
 a:hover {
    color: goldenrod
 }

.topbar {
   padding: 10px;
   text-align: center;   
}

.topbar a {
    margin: 0 15px;
    text-decoration: none;
}

header {
    text-align: center;
}